
{{ form_start(form) }}

    {{ form_row(form.name) }}
    {#{{ form_widget(form.tasks.vars.prototype) }}#}
    <button type="submit" class="btn btn-success" formnovalidate>Submit</button>

{{ form_end(form) }}