{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <tr>
            <th>Kategorie:</th>
        </tr>
        {% for category in app.user.categories %}
            {#{{ dump(loop) }}#}
            <tr>
                <td><a href="{{ path('category_edit', {slug: category.slug}) }}">{{ category.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

