{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <tr>
            <th>Kategorie:</th>
        </tr>
        {% for category in user.categories %}
            {#{{ dump(loop) }}#}
            <tr>
                <td>{{ category.name }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

