body
{
    color: #bbb;
    background-image: url("../img/darkdenim3.png");
}

.user
{
    float: right;
    margin-top: -15px;
}

tfoot
{
    text-align: center;
    padding: 5px;
    width: 100%;
    font-size: 18px;
}